<ul class="nav nav-pills pull-right" style="font-size: 0.8em; ">
  <li><%= link_to "Show contents", @folder %></li>
</ul>

<%= render "breadcrumbs" %>

<div>
  <h3>Rename or move this folder</h3>
  <%= render 'form' %>
</div>

